@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

:root {
    --first-color: #e1cb2e;
    --second-color: #2f4f4f;
    --third-color: #e4e8ec;
    --shadow-color: #111;
    --transition: 0.3s ease-in-out;
    --border-radius: 10px;
    --font-size: 25px;
}

/* resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

/* smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--third-color);
    background-color: var(--second-color);
}

/* header */
.header {
    background-color: var(--third-color);
    color: var(--second-color);
    position: sticky;
    z-index: 1;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--shadow-color);
}

.title {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

/* main */
.word {
    margin-left: 5rem;
}

p {
    font-size: var(--font-size);
    text-align: justify;
    padding: 0 5rem;
}

span:not(#year) {
    color: var(--first-color);
    font-weight: 600;
}

/* form */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    font-family: inherit;
    font-size: var(--font-size);
    text-align: left;
    padding: 1rem;
    border: 3px solid var(--third-color);
    border-radius: var(--border-radius);
    outline: none;
}

input[type=text]:focus {
    border: 3px solid var(--first-color);
}

input[type=submit] {
    font-family: inherit;
    font-size: var(--font-size);
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 3px solid var(--third-color);
    border-radius: var(--border-radius);
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--first-color);
    border: 3px solid var(--first-color);
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 2rem;
}

a {
    font-weight: 600;
    color: #e1cb2e;
    text-decoration: none;
}

a:hover {
    color: var(--third-color);
    text-shadow: 0 0 10px var(--shadow-color);
}
