{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="intro">
        <p>I decided to create this website because...<br /><br /><br /><br /><br /><br /></p>
    </div>

    <div class="form">
        <form name="search_word" action="/definition" method="get">
            <input id="word" name="word" type="text" placeholder="Type your word..." required />

            <input type="submit" name="submit-btn" id="submitBtn" value="Submit" />
        </form>
    </div>
{% endblock %}
